@jsr:registry=https://npm.jsr.io

# figma-managed npm registry config start
# Note: You'll need to add your own authToken here
# //registry.figma.com/npm/YOUR_PROJECT_ID/registry/:_authToken=YOUR_TOKEN
@figmaposaurus:registry=https://registry.figma.com/npm/a376e1b3-0c3a-4bd8-ac57-51d5a794501d/registry/
@make-kits:registry=https://registry.figma.com/npm/a376e1b3-0c3a-4bd8-ac57-51d5a794501d/registry/
registry=https://registry.npmjs.org/
# figma-managed npm registry config end